@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
    color: #454545;
    font-size: 100%;
    line-height: 1.8;
    background: #f0f0f0;
    word-wrap: break-word;
}